/*ベース*/
section.typeA {
  display: flex;
  flex-wrap: wrap;
}
section.typeA::after {
  content: '';
  width: 100%;
  height: 3px;
  order: -1;
  display: block;
  background: rgba(0, 137, 167, 0.7);
}
section.typeA .tabLabel {
  /* タブ */
  margin-right: 3px;
  padding: 3px 12px;
  flex: 1;
  order: -1;
  border-radius: 3px 3px 0 0;
  color: #444;
  background: rgba(0, 137, 167, 0.3);
  transition: 0.5s;
  cursor: pointer;
}
section.typeA .tabLabel:nth-last-of-type(1) {
  margin-right: 0;
}
section.typeA input {
  /* ラジオボタン非表示 */
  display: none;
}
section.typeA .content {
  /* 本文 */
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/*アクティブ設定*/
section.typeA input:checked + .tabLabel {
  color: #fff;
  background: rgba(0, 137, 167, 0.7);
}
section.typeA input:checked + .tabLabel + .content {
  padding: 15px;
  height: auto;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s opacity;
  opacity: 1;
}

/*ベース*/
section.typeB {
  display: flex;
  flex-wrap: wrap;
}
section.typeB::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  order: -1;
  background: rgba(0, 0, 0, 0.1);
}
section.typeB .tabLabel {
  /* タブ */
  margin-right: 3px;
  padding: 3px 12px;
  flex: 1;
  order: -1;
  border-radius: 3px 3px 0 0;
  color: #444;
  background: rgba(0, 137, 167, 0.3);
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
section.typeB .tabLabel::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  pointer-events: none;
  transform: translateX(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  background: #efbb24;
  position: absolute;
  left: 0;
  bottom: -3px;
  z-index: 10;
  opacity: 0;
}
section.typeB .tabLabel:nth-last-of-type(1) {
  margin-right: 0;
}
section.typeB input {
  /* ラジオボタン非表示 */
  display: none;
}
section.typeB .content {
  /* 本文 */
  width: 100%;
  height: 0;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
section.typeB .content > div {
  pointer-events: none;
  transform: translateX(30%);
  transition: transform 0.3s 80ms, opacity 0.3s 80ms;
}
/*アクティブ設定*/
section.typeB input:checked + .tabLabel {
  /*タブ*/
  color: #fff;
  background: rgba(0, 137, 167, 0.7);
}
section.typeB input:checked ~ .tabLabel::after {
  transform: translateX(-100%);
}
section.typeB input:checked + .tabLabel::after {
  opacity: 1;
  transform: translateX(0);
}
section.typeB input:checked + .tabLabel + .content {
  /*本文*/
  height: auto;
  padding: 15px;
  order: 1;
  opacity: 1;
}
section.typeB input:checked ~ .content > div {
  transform: translateX(30%);
}
section.typeB input:checked + .tabLabel + .content > div {
  pointer-events: auto;
  transform: translateX(0);
}

/*ベース*/
section.typeC .tabLabel {
  /*タブ*/
  margin-bottom: -1px;
  padding: 5px 10px;
  display: block;
  color: #444;
  background: rgba(0, 137, 167, 0.3);
  cursor: pointer;
  transition: 0.3s;
}
section.typeC .tabLabel::before {
  margin-right: 0.5em;
  font-weight: 700;
  font-family: 'Font Awesome 5 Free';
  content: '\f105';
}
section.typeC input {
  /* ラジオボタン非表示 */
  display: none;
}
section.typeC .content {
  /*本文*/
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}
/*アクティブ設定*/
section.typeC input:checked + .tabLabel {
  color: #fff;
  background: rgba(0, 137, 167, 0.7);
}
section.typeC input:checked + .tabLabel::before {
  margin-right: 0.5em;
  font-weight: 700;
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
}
section.typeC input:checked + .tabLabel + .content {
  height: auto;
  margin-bottom: -1px;
  padding: 15px;
  overflow: auto;
  border: 1px solid LightGray;
  opacity: 1;
}
