@charset "UTF-8";

html {
  font-size: 100%;
  font-family: 'メイリオ', Meiryo, 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

/* ヘッダ */
header {
  width: 100%;
  height: 80px; /* 高さ固定 */
  position: fixed; /* ヘッダを固定 */
  display: flex; /* フレックスボックス */
  align-items: center; /* 縦方向 中央揃え */
  justify-content: space-between; /* ロゴとボタンを左右に配置 */
  left: 0; /* 左端設定 */
  right: 0; /* 右端設定*/
  background-color: white;
}

#logo {
  width: 180px;
}

/* ハンバーガーボタン */
#hamburger_btn {
  height: 30px;
  width: 30px;
  text-align: right;
  cursor: pointer;

  /* 確認用 */
  /* background-color: rgb(231, 210, 250); */
}

/* 線の設定 */
/* 共通 */
.hamburger_line {
  position: absolute; /* 絶対配置 */
  right: 40px; /* 右端設定 */
  width: 30px; /* 線の長さ */
  height: 2px; /* 線の太さ */
  background-color: #333333;
  z-index: 30;
  transition: all 0.5s;
}

.nav_open .hamburger_line {
  background-color: #fff;
}

.hamburger_line1 {
  top: 35px;
}

.nav_open .hamburger_line1 {
  transform: rotate(-45deg);
  top: 39px;
}

.hamburger_line2 {
  top: 43px;
}

.nav_open .hamburger_line2 {
  transform: rotate(45deg);
  top: 39px;
}

#side_menu {
  position: fixed; /* 個別に位置を制御 */
  top: 23px;
  left: -100px; /* 左側にに隠しておく */
  visibility: hidden; /* 隠しておく */
  z-index: 30;
  transition: all 0.5s;
}

.nav_item {
  padding-top: 0.68rem;
}

#side_menu a {
  font-size: 0.85rem;
  color: white;
}

.nav_open #side_menu {
  visibility: visible; /* 表示 */
  left: 50px;
}

#side_menu_bg {
  position: fixed; /* 個別に位置を制御 */
  left: 0; /* 基準左端 */
  top: 0; /* 基準上端 */
  width: 100vw; /* 幅を画面に合わせる */
  height: 100vh; /* 高さを画面に合わせる */
  z-index: 20; /* 奥行設定 */
  visibility: hidden; /* 隠しておく */
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.nav_open #side_menu_bg {
  opacity: 0.8;
  visibility: visible;
}

/* トップ 商品一覧 */
.item_list {
  padding-top: 80px;
  display: flex; /* フレックスボックス */
  flex-wrap: wrap; /* 折り返す */
  justify-content: space-between; /* 横方向 左右端 */
  /* background-color: rgb(141, 241, 171); 確認用 */
}

.item_list li {
  width: 23%;
  margin-bottom: 40px;
}

.item_list img {
  width: 100%;
}

/*--------------------
width 900px
--------------------*/
@media screen and (max-width: 900px) {
  /* common */
}
