@charset "UTF-8";

html {
  font-size: 100%;
  font-family: "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    Osaka,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
}

body {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

img {
  /* 画像が画面の横幅からはみ出るのを防ぐ */
  max-width: 100%;
}

li {
  list-style: none;
}

/* wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

/* h1タグ用 */
.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

/* h2タグ用 */
.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

/*-- header --*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
  font-size: 0.9rem;
}

#header li a {
  color: black;
}

#header li a:hover {
  opacity: 0.7;
}

#header li img {
  width: 20px;
  height: 20px;
}

/* mainvisual */
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

/* about */
#about ul {
  margin-bottom: 30px;
}

#about li:first-child {
  margin-bottom: 30px;
}

#about p {
  text-align: justify;
}

/* works */
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#works li {
  width: 31%;
  margin-bottom: 24px;
}

/* news */
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px lightgray;
}

#news dt {
  width: 20%;
  padding: 15px 15px;
  border-bottom: solid 1px lightgray;
}

#news dd {
  width: 80%;
  padding: 15px 15px;
  border-bottom: solid 1px lightgray;
}

/* contact */
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px lightgray;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background-color: black;
  color: white;
  padding: 15px 0;
  border: solid 1px black;
}

#contact .button input:hover {
  background: white;
  color: black;
}

footer {
  background-color: black;
  color: white;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/*--------------------
width 600px
--------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }

  .site-title {
    margin-top: 20px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  /* header */
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  /* works */
  #works ul {
    flex-direction: column;
  }

  #works li {
    width: 100%;
  }

  /* news */
  #news dl {
    flex-direction: column;
  }

  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #news dd {
    width: 100%;
    padding-top: 0;
  }

  #contct dl {
    flex-direction: column;
  }

  #contact dt {
    width: 100%;
  }

  #contact dd {
    width: 100%;
  }
}