@charset "UTF-8";

html {
  font-size: 100%;
  font-family: "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    Osaka,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
}

body {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

img {
  /* 画像が画面の横幅からはみ出るのを防ぐ */
  max-width: 100%;
}

li {
  list-style: none;
}

/* h1タグ用 */
.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

/* h2タグ用 */
.section-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

/* wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

/*-- header --*/
#header {
  max-width: 960px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
  font-size: 0.9rem;
}

#header li a {
  color: black;
}

#header li a:hover {
  opacity: 0.7;
}

#header li img {
  width: 20px;
}

/* mainvisual */
#mainvisual img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  margin-bottom: 80px;
}